/* summary {
    background:rgb(102, 187, 106);
    color: #FFF;
    border-radius: 3px;
    padding: 5px 10px;
    margin-top: 20px;
    outline: none;
  } */

  /* table {
    background-image: linear-gradient(to right, white , f6f6f6);
    border: 0;
    width: 100%;
  } */
/* 
  th, td {
    vertical-align: top;
    text-align: left;
    padding:0.5em;
    border-bottom: 1px solid #E6E6E6;
  }

  th {
    width: 150px;
  } */

  /* @media(max-width:750px){
    th {
        width: 180px;
      }    
  } */

